header {
    display: none;
}

#content {
    padding-top: 100px;
}

#wrap {
    border-top: 10px solid #555555;
}

#primary-nav {
    margin-top: 100px;
}

.menu-button {
    background-color: #555555;
}

@media (max-width:768px) {
        
    #wrap {
        border-top: none !important;
    }

    #primary-nav {
        margin-top: 0px !important;
    }
}