header {
    display: none;
}

#content {
    padding-top: 100px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 1.3em;
}

#wrap {
    border-top: 20px solid #555555;
}

#primary-nav {
    margin-top: 100px;
    width: 20.21053%;
    margin-right: 5.05263%;
}

#primary section {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.menu-button {
    background-color: #555555;
}

h1 {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: 500;
    color: #000;
}

@media (max-width:768px) {
        
    #wrap {
        border-top: none !important;
    }

    #primary-nav {
        margin-top: 0px !important;
        width: 100%;
        margin-right: 0px;
    }

    #primary section {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }

    #content {
        padding-top: 0px !important;
    }
}